<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name The Jedi</title>
</head>
<body>

    <h1>Name the Jedi</h1>
    <a href="#">&lt;--Back To The Menu</a>

    <br>

    <form action="#">
        <div>
            <label for="">Name of The Jedi/padawan</label>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            <label for="era">Active era</label>
            <input type="text" name="era" id="era">
        </div>
        <br>
        <button>Save</button>
    </form>
    
</body>
</html>